* {
    font-family: Monocraft;
    font-size: 11px;
    color: rgba(0, 0, 0, 1);
}

window#waybar {
    background-color: rgba(255, 255, 255, 0);
}

#custom-power {
    background-color: rgba(255, 255, 255, 1);
}

#workspaces {
    background-color: rgba(255, 255, 255, 1);
}

#workspaces button {
    padding: 0 3px;
}

#pulseaudio {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#network {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 1);
}

#battery {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 1);
}

#power-profiles-daemon {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#window {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#cpu {
    padding: 0 7px;
    background-color: rgba(255, 255, 255, 1);
}

#memory {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#temperature {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#disk {
    padding: 0 8px;
    background-color: rgba(255, 255, 255, 1);
}

#language {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}

#clock {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
}
